@import url(droid_sans/stylesheet.css);
@import url(raleway/stylesheet.css);

:root {
  --bs-font-sans-serif: 'Droid Sans', sans-serif ;
}

/* ------ General common styles */

body {
    font-family: var(--bs-font-sans-serif);
    font-size: 12pt;
    margin:0;
    padding:0;
    height: 100%;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -hyphens: auto;
    scroll-behavior: smooth;
}

body,
label,
table,
th,
td,
li,
input,
select,
textarea,
option,
button {
    font-family: 'Droid Sans', sans-serif;
}

.fpcm-ui-monospace {
    font: 1em var(--bs-font-monospace) !important;
}

h1,
h3.card-title {
    font-family: Raleway, 'Droid Sans', sans-serif !important;
}

a, a:visited, a.fpcm-link {
    text-decoration: none;  
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

b,
strong,
dt,
a, a:visited, a.fpcm-link,
a:hover, a:focus, a:active,
h2,
h3,
.fpcm-dashboard-container h3 {
    font-weight: bold;
}

a.fpcm-ui-button-link,
a.fpcm-ui-button-link:hover,
a.fpcm-ui-button-link:focus,
a.fpcm-ui-button-link:active,
a.dropdown-item:hover,
a.dropdown-item:focus,
a.dropdown-item:active,
a.dropdown-item {
    font-weight: normal;
}

table {
    border-spacing: 0;
}

td {
    vertical-align: top;
}

img {
    border:0;
}

label {
    font-weight: normal;
}

dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

legend {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
}

.navbar-toggler {
    box-shadow: none !important;
}

* [draggable=true] {
    cursor: move;
}

* [draggable=false] {
    cursor: not-allowed;
}