@import url(droid_sans/stylesheet.css);
@import url(raleway/stylesheet.css);

/* ------ General common styles */

body {
    font-size: 12pt;
    margin:0;
    padding:0;
    height: 100%;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -hyphens: auto;
    scroll-behavior: smooth;
}

body,
label,
table,
th,
td,
li,
input,
select,
textarea,
option,
button {
    font-family: 'Droid Sans', sans-serif !important;
}

.fpcm-ui-monospace {
    font: 1em 'Courier New', monospace !important;
}

h1,
.fpcm-dashboard-container h3 {
    font-family: Raleway, 'Droid Sans', sans-serif !important;
}
h1 {
    font-size: 2rem !important;
    font-weight: 300;
    padding: 0.5rem 0;
    margin: 0;
}

h1 span:nth-child(even) {
    letter-spacing: -3px;
}

h2 {
    font-size:1.35em;
}

h3 {
    font-size:1.2em;
    padding: 0.3em 0em;
    margin: 0.2em 0em;    
}

h2,
h3,
.fpcm-dashboard-container h3 {
    padding: 0.4em;
}

a, a:visited, a.fpcm-link {
    text-decoration: none;  
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

b,
strong,
dt,
a, a:visited, a.fpcm-link,
a:hover, a:focus, a:active,
h2,
h3,
.fpcm-dashboard-container h3 {
    font-weight: bold;
}

a.fpcm-ui-button-link,
a.fpcm-ui-button-link:hover,
a.fpcm-ui-button-link:focus,
a.fpcm-ui-button-link:active,
a.dropdown-item:hover,
a.dropdown-item:focus,
a.dropdown-item:active,
a.dropdown-item {
    font-weight: normal;
}

table {
    border-spacing: 0;
}

td {
    vertical-align: top;
}

img {
    border:0;
}

label {
    font-weight: normal;
}

legend,
span.fpcm-ui-badge {
    padding: 0.3rem;
}

h2,
h3,
span.fpcm-ui-badge,
.fpcm-dashboard-container h3,
.fpcm.ui-border-radius-all,
.fpcm-ui-border-radius-all {
    border-radius: 5px !important;
}

.fpcm.ui-navigation .nav-link {
    font-weight: normal;
}

.fpcm.ui-navigation .nav-link.fpcm.ui-navigation-l1 {
    border-radius: 5px;
}

.fpcm.ui-navigation  a.fpcm.nav-level-1 > span.fpcm.nav-text {
    font-size: 0.975rem;
}

.navbar-toggler {
    box-shadow: none !important;
}