@import url(droid_sans/stylesheet.css);
@import url(raleway/stylesheet.css);

body {
    font-size: 10pt;
    text-align: left;
    margin:0;
    padding:0;
    height: 100%;
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -hyphens: auto;
    scroll-behavior: smooth;
}

body,
label,
table,
th,
td,
li,
input,
select,
textarea,
option,
button {
    font-family: 'Droid Sans', sans-serif !important;
}

label {
    font-weight:bold;
}

table {
    border-spacing: 0;
}

img {
    border:0;
}

h3 {
    font-size:1.2em;
    padding: 0.3em 0em;
    margin: 0.2em 0em;    
}

a, a:visited, a.fpcm-link {
    text-decoration: none;  
    color: #0048a9;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

b,
strong,
dt,
a, a:visited, a.fpcm-link,
a:hover, a:focus, a:active,
h2,
h3, .fpcm-dashboard-container h3 {
    font-weight: bold;
}

label {
    font-weight: normal;
}

i, em {
    color:#0048a9;
}

td {
    vertical-align: top;
}