/* ------ Dashboard conatienr styles */
.fpcm.dashboard-container ul {
    padding: 0em;
    margin: 0em 0.8em 0em 1.3em;
}

.fpcm.dashboard-container.card {
    overflow: hidden;
}

.fpcm.dashboard-container .content,
.fpcm.dashboard-container .headline {
    position: relative;
    left: 0;
    right: 0;
}

.fpcm.dashboard-container .card-body .card-text {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

h3.fpcm.dashboard-container .headline > span:first-child {
    width: calc(100% - 1.5em);
    white-space: nowrap;
}

div.fpcm.dashboard-container .content {
    line-height: 1.5em;
}

div.fpcm.dashboard-container .content .fpcm-ui-font-small {
    line-height: 1.25em;
}