div.fpcm-ui-dataview {
    
}

div.fpcm-ui-dataview-rowcolpadding {
    margin: 0.5em 0em;
    color: #2779aa;
}

div.fpcm-ui-dataview-head {
    margin-top: 0em;
    font-size: 1.15em;
    padding: 0.3em 0em;
}

div.fpcm-ui-dataview-subhead {
    font-size: 1.0em;
    padding: 0.15em;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-subhead,
div.fpcm-ui-dataview div.fpcm-ui-dataview-row {
    line-height: 1.5em;
    padding: 0.35em 0;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-row:nth-child(odd) {
    background: #f8f8f8;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-row:hover {
    background: #DFEFFC;
}

div.fpcm-ui-dataview-head,
div.fpcm-ui-dataview-subhead {
    line-height: 1.8em !important;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-lineheight4 {
    line-height: 4em;
}

div.fpcm-ui-dataview-align-left {
    text-align: left;
}

div.fpcm-ui-dataview-align-center {
    text-align: center;
}

div.fpcm-ui-dataview-align-right {
    text-align: right;
}

div.fpcm-ui-dataview-align-justify {
    text-align: justify;
}

div.fpcm-ui-dataview-size-05 {
    -ms-flex: 0 0 4.166666666%;
    flex: 0 0 4.166666666%;
    max-width: 4.166666666%;
}