div.fpcm-ui-dataview {
    
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-head,
div.fpcm-ui-dataview div.fpcm-ui-dataview-row,
div.fpcm-ui-dataview div.fpcm-ui-dataview-head div.fpcm-ui-dataview-col,
div.fpcm-ui-dataview div.fpcm-ui-dataview-row div.fpcm-ui-dataview-col {
    display: block;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-head div.fpcm-ui-dataview-col,
div.fpcm-ui-dataview div.fpcm-ui-dataview-row div.fpcm-ui-dataview-col {
    float: left;
}

div.fpcm-ui-dataview-rowcolpadding {
    margin: 0.5em 0em;
    color: #2779aa;
}

div.fpcm-ui-dataview-head {
    margin-top: 0em;
    font-size: 1.15em;
    line-height: 1.8em;
    padding: 0.3em 0.15em;
}

div.fpcm-ui-dataview-subhead {
    font-size: 1.0em;
    line-height: 1.8em;
    padding: 0.15em;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-row {
    line-height: 1.5em;
}

div.fpcm-ui-dataview div.fpcm-ui-dataview-lineheight4 {
    line-height: 4em;
}

div.fpcm-ui-dataview-align-left {
    text-align: left;
}

div.fpcm-ui-dataview-align-center {
    text-align: center;
}

div.fpcm-ui-dataview-align-right {
    text-align: right;
}

div.fpcm-ui-dataview-align-justify {
    text-align: justify;
}

div.fpcm-ui-dataview-size-05 {
    width: 4.166666666%;
}

div.fpcm-ui-dataview-size-1 {
    width: 8.3333333333%;
}

div.fpcm-ui-dataview-size-2 {
    width: 16.6666666666%;
}

div.fpcm-ui-dataview-size-3 {
    width: 25%;
}

div.fpcm-ui-dataview-size-4 {
    width: 33.33333333%;
}

div.fpcm-ui-dataview-size-5 {
    width: 41.6666666666%;
}

div.fpcm-ui-dataview-size-6 {
    width: 50%;
}

div.fpcm-ui-dataview-size-7 {
    width: 58.3333333333%;
}

div.fpcm-ui-dataview-size-8 {
    width: 66.6666666667%;
}

div.fpcm-ui-dataview-size-9 {
    width: 75%;
}

div.fpcm-ui-dataview-size-10 {
    width: 83.3333333333%;
}

div.fpcm-ui-dataview-size-11 {
    width: 91.6666666667%;
}

div.fpcm-ui-dataview-size-12 {
    width: 100%;
}