div.fpcm-ui-dataview {
    font-size: inherit;
}

div.fpcm-ui-dataview-head {
    margin-top: 0em;
    font-size: 0.9em;
    padding: 0.3em 0em;
}

div.fpcm-ui-dataview-subhead {
    font-size: 0.9em;
    padding: 0.15em;
}

div.fpcm-ui-dataview div.subhead,
div.fpcm-ui-dataview div.row {
    line-height: 1.5em;
}

div.fpcm-ui-dataview-head,
div.fpcm-ui-dataview-subhead {
    font-family: 'Expletus Sans', 'Droid Sans', sans-serif !important;
    line-height: 1.8em !important;
}