/* ------ Forms common */
input, select, textarea, option, button {
    border: 0;
    outline: 0;
    font-size: 1em;
}

.fpcm-ui-readonly {
    opacity: 0.35;
}

input[type=password] {
    padding-right: 2em;
}

select,
option {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

textarea.fpcm-ui-textarea-medium,
textarea.fpcm.ui-textarea-medium {
    min-height: 25vh;
}

textarea.fpcm.ui-textarea-noresize {
    resize: none;
}

.fpcm-ui-box-sizing-none {
    box-sizing: initial !important;
}