/* ------ Forms common */
input, select, textarea, option, button {
    border: 0;
    outline: 0;
    font-size: 1em;
}

.fpcm-ui-input-wrapper-inner,
.fpcm-ui-field-label-general,
.fpcm-ui-field-input-nowrapper-general,
textarea {
    padding: 0.3em 0.4em;
}

.fpcm-ui-input-wrapper-inner,
.fpcm-ui-field-label-general,
.fpcm-ui-field-input-nowrapper-general {
    width: auto;
    height: auto;
}

.fpcm-ui-input-wrapper,
.fpcm-ui-input-wrapper input {
    height: auto;
}

input[type=text][readonly],
input[type=number][readonly],
input[type=url][readonly],
input[type=email][readonly],
input[type=datetime-local][readonly],
input[type=date][readonly],
input[type=time][readonly],
input[type=password][readonly],
textarea[readonly],
.fpcm-ui-readonly {
    opacity: 0.35;
}

select,
option {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

select::-ms-expand {
    display: none;
}

select {
    width: 200px;
    height: 31.333333px;
}

textarea.fpcm-ui-textarea-medium {
    height: 150px;
}

.fpcm-ui-box-sizing-none {
    box-sizing: initial !important;
}

.fpcm-ui-input-text:invalid,
.fpcm-ui-input-text:required {
    box-shadow: none;
    padding-left: 0.3rem;
}

.fpcm-ui-input-wrapper.fpcm-ui-input-wrapper-number .fpcm-ui-input-wrapper-inner {
    padding-right: 0;
}

input[type=checkbox],
input[type=radio] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input[type=radio]:hover + label:before,
input[type=radio]:focus + label:before {
    border-radius: 50%;
}

.ui-controlgroup input[type=checkbox] + label,
.ui-controlgroup input[type=checkbox] + label:before,
.ui-controlgroup input[type=checkbox]:checked + label:before,
.ui-controlgroup input[type=radio] + label,
.ui-controlgroup input[type=radio] + label:before,
.ui-controlgroup input[type=radio]:checked + label:before,
.ui-controlgroup input[type=radio]:hover + label:before,
.ui-controlgroup input[type=radio]:focus + label:before {
    content: inherit;
    font-family: initial;
    appearance: initial;
}