/* ------ Forms common */
input, select, textarea, option, button {
    border: 0;
    outline: 0;
    font-size: 1em;
}

.fpcm-ui-input-wrapper,
.fpcm-ui-input-text,
.fpcm-ui-input-wrapper-inner input,
textarea {
    background-color: #fff;
}

.fpcm-ui-input-wrapper,
textarea {
    border: 1px solid #aed0ea;
}

.fpcm-ui-input-wrapper-inner,
textarea {
    padding: 0.3em 0.4em;
}

.fpcm-ui-input-wrapper-inner {
    width: auto;
    height: auto;
}

.fpcm-ui-input-wrapper,
.fpcm-ui-input-wrapper input {
    height: auto;
}

input[type="text"][readonly],
textarea[readonly],
.fpcm-ui-readonly {
    opacity: 0.35;
}

textarea:hover,
textarea:focus,
textarea:active,
fieldset,
.fpcm-ui-input-wrapper:hover,
.fpcm-ui-input-wrapper-hover,
.fpcm-ui-border-blue-light {
    border: 1px solid #79B7E7;
}

textarea:hover,
textarea:focus,
textarea:active,
.fpcm-ui-input-wrapper:hover,
.fpcm-ui-input-wrapper-hover {
    box-shadow: #79B7E7 0px 0px 4px;
}

textarea.fpcm-ui-textarea-medium {
    height: 150px;
}

/* ------ jQuery UI Hooks */
.ui-spinner input,
.ui-spinner input:hover,
.ui-spinner input:focus,
.ui-spinner input:active {
    border: 0 !important;
    box-shadow: none !important;
    padding: 0;
}

.ui-spinner {
    padding: 0.2em;
    width: 195px;
}

.ui-datepicker {
    z-index: 1000 !important;
}
.ui-selectmenu-menu {
    max-height: 225px !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3px;
}
.ui-controlgroup-label.ui-widget-content:last-child {
    border-right: 1px solid #aed0ea;
}

.ui-selectmenu-button {
    text-align: center !important;
}

.ui-accordion.ui-state-disabled {
    opacity: 1;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
