/* ------ Forms common */
input, select, textarea, option, button {
    border: 0;
    outline: 0;
    font-size: 1em;
}

.fpcm-ui-input-wrapper-inner,
.fpcm-ui-field-label-general,
.fpcm-ui-field-input-nowrapper-general,
textarea {
    padding: 0.3em 0.4em;
}

.fpcm-ui-input-wrapper-inner,
.fpcm-ui-field-label-general,
.fpcm-ui-field-input-nowrapper-general {
    width: auto;
    height: auto;
}

.fpcm-ui-input-wrapper,
.fpcm-ui-input-wrapper input {
    height: auto;
}

input[type="text"][readonly],
input[type="number"][readonly],
input[type="url"][readonly],
input[type="email"][readonly],
input[type="datetime-local"][readonly],
input[type="date"][readonly],
input[type="time"][readonly],
input[type="password"][readonly],
input[type="checkbox"][readonly],
input[type="radio"][readonly],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
textarea[readonly],
.fpcm-ui-readonly {
    opacity: 0.35;
}

textarea.fpcm-ui-textarea-medium {
    height: 150px;
}

.fpcm-ui-box-sizing-none {
    box-sizing: initial !important;
}

.fpcm-ui-input-text:invalid,
.fpcm-ui-input-text:required {
    box-shadow: none;
    padding-left: 0.3rem;
}

.fpcm-ui-input-wrapper.fpcm-ui-input-wrapper-number .fpcm-ui-input-wrapper-inner {
    padding-right: 0;
}