i.mce-ico.mce-i-fpcm-readmore:before,
i.mce-ico.mce-i-fpcm-search:before {
    font-family: 'FontAwesome';
}

i.mce-ico.mce-i-fpcm-readmore:before {
    content: '\f0fe';
}

i.mce-ico.mce-i-fpcm-search:before {
    content: '\f002';
    font-size: 0.85em;
}