/* ------ Main navigation menu */
#fpcm-navigation {
    width: 100%;
    position: relative;
    z-index: 100;
    font-size: 9pt;
}

#fpcm-navigation a {
    font-weight: normal !important;
}

#fpcm-navigation ul,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links {
    position: relative;
}

#fpcm-navigation,
#fpcm-navigation li,
#fpcm-navigation a,
#fpcm-navigation a span.fpcm-ui-nav-icon,
#fpcm-navigation a span.fpcm-ui-nav-descr {
    display: block;
}

#fpcm-navigation li,
#btnHiddenMenu {
    float: left;
    width: 200px;
}

#fpcm-navigation ul.fpcm-ui-menu li,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li,
#fpcm-navigation ul.fpcm-ui-menu:first-child li ul.fpcm-ui-sub-menu li,
#btnHiddenMenu {
    max-width: 200px;
}

#fpcm-navigation ul.fpcm-ui-menu ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links ul.fpcm-ui-sub-menu {
    z-index: 125;   
}
    
#fpcm-navigation ul.fpcm-ui-menu:first-child li ul.fpcm-ui-sub-menu li {
    text-align: left;
}

#fpcm-navigation ul.fpcm-ui-menu li a {
    padding: 10px 5px 5px 5px;
    line-height: 25px;
}

#fpcm-navigation ul.fpcm-ui-sub-menu li a,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li a {
    padding: 8px;
}

#fpcm-navigation ul,
#fpcm-navigation li {
    padding: 0;
}

#fpcm-navigation ul,
#fpcm-navigation li,
#fpcm-navigation a,
#btnHiddenMenu {
    margin: 0;
}

#btnHiddenMenu {
    border: 0 !important;
    padding: 22.5px 10px 22.5px 10px;
}

/* ------ Top navigation menu */
div.fpcm-status-info ul.fpcm-menu-top ul.fpcm-ui-sub-menu {
    z-index: 99999;
}

div.fpcm-status-info,
div.fpcm-status-info a,
div.fpcm-status-info li {
    font-weight: normal !important;
}

div.fpcm-status-info ul.fpcm-menu-top li ul {
    margin-top: 0.3rem;
    right: 0rem;
    width: 300px;
}

div.fpcm-status-info ul li {
    padding: 0.5em;
}

/*------ Main toolbar */
#fpcm-ui-toolbar {
    padding: 0.75rem;
    border-radius: 0 0 10px 10px;
}

/* ------ Top and main navigation and toolbar common styles */
#fpcm-navigation ul.fpcm-ui-menu li a,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li a,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links a,
div.fpcm-status-info ul.fpcm-menu-top {
    width: 100%;
}

#fpcm-navigation li ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links,
div.fpcm-status-info ul.fpcm-menu-top li ul {
    position: absolute;
}

#fpcm-navigation li ul,
#fpcm-navigation li ul li,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li,
div.fpcm-status-info ul.fpcm-menu-top li li.fpcm-menu-top-level2 {
    float: none;
}

#fpcm-navigation li ul,
#fpcm-navigation li ul li,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li,
#fpcm-navigation ul.fpcm-ui-menu li.fpcm-menu-has-submenu:hover ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li.fpcm-menu-has-submenu:hover ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-menu li.fpcm-menu-has-submenu:focus ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li.fpcm-menu-has-submenu:focus ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-menu li.fpcm-menu-has-submenu:active ul.fpcm-ui-sub-menu,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li.fpcm-menu-has-submenu:active ul.fpcm-ui-sub-menu,
div.fpcm-status-info ul.fpcm-menu-top,
div.fpcm-status-info ul.fpcm-menu-top li.fpcm-menu-top-level1,
div.fpcm-status-info ul.fpcm-menu-top li li.fpcm-menu-top-level2,
div.fpcm-status-info ul.fpcm-menu-top li li.fpcm-menu-top-level2-status span,
div.fpcm-status-info ul.fpcm-menu-top li:hover ul,
div.fpcm-status-info ul.fpcm-menu-top li:focus ul,
div.fpcm-status-info ul.fpcm-menu-top li:active ul {
    display: block;
}

#fpcm-navigation li ul.fpcm-ui-sub-menu,
div.fpcm-status-info ul.fpcm-menu-top li ul,
body.fpcm-ui-hide-toolbar #fpcm-ui-toolbar {
    display: none;
}

#fpcm-navigation ul,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links,
div.sidebar div.sidebar-forum ul {
    list-style-type: none;
    list-style-image: none;
}

/* ------ Transition */
#fpcm-navigation ul.fpcm-ui-menu li,
#fpcm-navigation ul.fpcm-ui-nav-hidden-links li,
div.fpcm-status-info ul.fpcm-menu-top li,
#btnHiddenMenu {
    transition: 0.5s ease;
}