.container-fluid {
    width: 100%;
}

@media (min-width: 576px) {

    .form-range.col-sm-6 {
        width: 50% !important;
    }
}

@media (min-width: 769px) {

    .form-range.col-md-4 {
        width: 66.6666666% !important;
    }
    
}