@media (min-width: 150em) {

    .fpcm-wrapper-left {
        width: 12.5%;
    }

    .fpcm-wrapper {
        width: 87.5%;
    }

    div.fpcm-navigation ul.fpcm-menu li ul {
        margin-left: 12.5%;
    }
}

@media (max-width: 90em) {
    div.fpcm-filelist-thumb-box {
        width: 33%;
    }
}

@media (max-width: 70em) {
    
    .fpcm-wrapper,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-button.fpcm-ui-editor-extended-col-floatsmall {
        width: 75%;
    }

    .fpcm-wrapper-left {
        width: 25%;
    }
    
    .fpcm-ui-permissions-container {
        width: 100% !important;
    }

    table.fpcm-ui-table.fpcm-ui-options tr td:first-child,
    table.fpcm-ui-table.fpcm-ui-logs-sessions tr td,
    table.fpcm-ui-table.fpcm-ui-logs tr td:first-child,
    table.fpcm-ui-table.fpcm-ui-options-twitter tr td:first-child,
    .fpcm-ui-permissions-container {
        width: 50% !important;
    }
    
    textarea.fpcm-options-cssclasses {
        width: 95%;
    }

    table.fpcm-ui-options div.fpcm-ui-input-wrapper {
        width: 83% !important;
    }
    
    table.fpcm-ui-options span.ui-selectmenu-button {
        width: 60% !important;
    }
    
    div.fpcm-navigation ul.fpcm-menu li ul {
        margin: -4em 0 0 25%;
    }

    .fpcm-buttons-fixed {
        left: 25%;
    }
    
    .fpcm-buttons-fixed-full {
        left: 0px;
    }

    div.fpcm-filelist-thumb-box,
    .fpcm-dashboard-container.fpcm-dashboard-container-width-small,
    .fpcm-dashboard-container.fpcm-dashboard-container-width-big {
        width: 50%;
    }

    table.fpcm-ui-table.fpcm-ui-articles tr th.fpcm-td-articlelist-meta,
    table.fpcm-ui-table.fpcm-ui-articles tr td.fpcm-td-articlelist-meta,
    table.fpcm-ui-table.fpcm-ui-articles th.fpcm-td-articlelist-categories,
    table.fpcm-ui-table.fpcm-ui-articles td.fpcm-td-articlelist-categories,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-icon {
        display: none;
    }
    
    table.fpcm-ui-table.fpcm-ui-articles div.fpcm-articlelist-categories {
        display: block;
        word-wrap: break-word;
    }
    
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-icon,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-button,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-col-tweettext {
        float: none;
    }
    
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-button.fpcm-ui-editor-extended-col-floatsmall,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-col-floatsmall {
        float: left;
    }

    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-col-floatsmall {
        margin-left: 0.4em;
        width: 10%;
    }
    
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col .ui-spinner,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col div.fpcm-ui-datepicker-inputwrapper {
        width: 25%;
    }
    
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-col-postponed,
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-col-tweettext {
        margin: 0.4em;
    }

    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-articleimg {
        margin: 0.4em 0 0 0.8em;
    }

    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-button .ui-checkboxradio-label {
        width: 90%;
    }

    table.fpcm-ui-articles .fpcm-ui-editor-metabox-right {
        width: auto;
    }

    table.fpcm-ui-table.fpcm-ui-articles th:first-child,
    table.fpcm-ui-table.fpcm-ui-articles tr td:first-child,
    table.fpcm-ui-table.fpcm-ui-comments th.fpcm-ui-articlelist-open,
    table.fpcm-ui-table.fpcm-ui-comments tr td.fpcm-ui-articlelist-open,
    table.fpcm-ui-table.fpcm-ui-smileys tr td.fpcm-ui-smiley-listimg,
    table.fpcm-ui-table.fpcm-ui-editor-smileys td {
        width: 4em;
    }
    
    table.fpcm-ui-table.fpcm-ui-articles th:first-child .fpcm-ui-button,
    table.fpcm-ui-table.fpcm-ui-articles tr td:first-child .fpcm-ui-button,
    table.fpcm-ui-table.fpcm-ui-comments th.fpcm-ui-articlelist-open .fpcm-ui-button,
    table.fpcm-ui-table.fpcm-ui-comments tr td.fpcm-ui-articlelist-open .fpcm-ui-button,
    table.fpcm-ui-table.fpcm-ui-smileys tr td.fpcm-ui-smiley-listimg .fpcm-ui-button,
    table.fpcm-ui-table.fpcm-ui-editor-smileys td .fpcm-ui-button {
        margin-bottom: 0.3em;
    }
}

@media (max-width: 55em) {

    .fpcm-ui-permissions-container {
        width: 100% !important;
    }

    .fpcm-dashboard-container.fpcm-dashboard-container-width-small,
    .fpcm-dashboard-container.fpcm-dashboard-container-width-big {
        width: 100%;
    }
    
    div.fpcm-filelist-thumb-box {
        width: 50%;
    }
}

@media (max-width: 50em) {

    .fpcm-footer-bottom {
        display: block;
    }
    
    .fpcm-footer-left {
        display: none;
    }
    
    .fpcm-content-wrapper   {
        padding: 0.4em;
    }
    
    h1 {
        font-size: 1.35em;
        margin: -0.3em 0em 0.4em -0.2em;
    }

    .fpcm-wrapper,
    .fpcm-wrapper-left,
    div.fpcm-filelist-thumb-box,
    div.fpcm-navigation ul.fpcm-menu li li {
        width: 100%;
    }
    
    div.fpcm-navigation ul.fpcm-menu li li {
        font-size: 1.1em;
        padding: 0.6em 0.3em;
    }
    
    div.fpcm-navigation {
        margin-bottom: 0.8em;
    }

    table.fpcm-ui-table.fpcm-ui-modules tr th.fpcm-ui-modules-key,    
    table.fpcm-ui-table.fpcm-ui-modules tr td.fpcm-ui-modules-key,    
    table.fpcm-ui-table.fpcm-ui-modules tr th.fpcm-ui-modules-version,    
    table.fpcm-ui-table.fpcm-ui-modules tr td.fpcm-ui-modules-version,
    table.fpcm-ui-table.fpcm-ui-users tr th.fpcm-ui-users-registeredtime,
    table.fpcm-ui-table.fpcm-ui-users tr td.fpcm-ui-users-registeredtime,
    table.fpcm-ui-table.fpcm-ui-syscheck tr th.fpcm-ui-syscheck-help,
    table.fpcm-ui-table.fpcm-ui-syscheck tr th.fpcm-ui-syscheck-current,
    table.fpcm-ui-table.fpcm-ui-syscheck tr th.fpcm-ui-syscheck-recommend,
    table.fpcm-ui-table.fpcm-ui-syscheck tr td.fpcm-ui-syscheck-help,
    table.fpcm-ui-table.fpcm-ui-syscheck tr td.fpcm-ui-syscheck-current,
    table.fpcm-ui-table.fpcm-ui-syscheck tr td.fpcm-ui-syscheck-recommend {
        display: none;
    }
    
    table.fpcm-ui-table.fpcm-ui-options tr td:first-child {
        width: 35% !important;
    }

    .fpcm-buttons-fixed {
        position: static !important;
        margin: 0.5em 0em !important;
        padding: 0.5em 0;
        width: 100%;
    }

    .fpcm-wrapper {
        margin-bottom: 0.8em;
    }
    
    div.fpcm-navigation {
        z-index: 100;
    }

    div.fpcm-navigation ul.fpcm-menu li ul {
        min-width: 100%;
        margin: 0;
        border-top: 1px solid #00aded;
        border-left: 0;
    }
    
    div.fpcm-navigation {
        margin-bottom: 0.8em;
    }
    
    div.fpcm-navigation ul.fpcm-menu li.fpcm-menu-level1 {
        display: none;
    }
    
    div.fpcm-status-info ul.fpcm-menu-top #fpcm-ui-showmenu-li {
        display: block !important;
    }
    
    div.fpcm-debug-data {
        display: none;
    }
    
    .fpcm-dashboard-container .fpcm-dashboard-container-inner .fpcm-dashboard-container-content .fpcm-profile-btn {
        margin-bottom: 0.7em;
    }
    
    .fpcm-wrapper.fpcm-wrapper-fixed  {
        margin-left: 0;
    }

    .fpcm-wrapper-left.fpcm-wrapper-fixed  {
        position: static;
    }

    .fpcm-wrapper-left.fpcm-wrapper-fixed div.fpcm-footer  {
        position: static;
    }
    
    .fpcm-login-form {
        margin-top: 1.2em;
    }
    
    .fpcm-messages {
        position: fixed;
        right: 0em;
        left: 0em;
        top: 0.5em;
        z-index: 10000;
        max-width: inherit;
        min-width: inherit;
    }
    
    .fpcm-messages div.fpcm-message-box {
        width: auto;
    }
    
    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-button.fpcm-ui-editor-extended-col-floatsmall {
        width: 70%;
        min-width: none;
    }

    div.fpcm-ui-editor-extended-row div.fpcm-ui-editor-extended-col.fpcm-ui-editor-extended-col-floatsmall {
        margin-left: 0.4em;
        width: 25%;
    }
    
}

@media (max-width: 36em) {
    
    .fpcm-login-form,
    .fpcm-wrapper div.fpcm-status-info ul.fpcm-menu-top li ul,
    div.fpcm-filelist-thumb-box {
        width: 100%;
    }

}

@media (min-width: 55em) AND (max-height: 800px) {
    
    div.fpcm-navigation #itemfpcm-options-submenu ul {
        margin-top: -10em;
    }

}
