/* ------ Text aligns */
label,
.fpcm.ui-align-ellipsis,
.fpcm-ui-ellipsis    {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ------ Paddings and margins */
div.row {
    margin-left: 0;
    margin-right: 0;
}

/* ------ General floats and displays */
.fpcm-ui-float-left {
    float: left;
}

.fpcm-ui-float-right {
    float: right;
}

.fpcm-ui-float-none {
    float: none;
}

.fpcm-ui-clear {
    clear: both;
}

/* ------ General borders */
.fpcm-ui-border-none-top {
    border-top: none;
}

.fpcm-ui-border-none-right,
.fpcm-ui-field-label-general {
    border-right: none !important;
}

.fpcm-ui-border-none-bottom {
    border-bottom: none !important;
}

.fpcm-ui-border-none-left {
    border-left: none !important;
}

ul.fpcm-ui-csv-fields {
    min-height: 100px;
}

.fpcm.ui-mh-100vh {
    min-height: 100vh;
}

/* ------ Opacities */
.fpcm-ui-status-0 {
    opacity: 0.2;
}

.fpcm-ui-status-1 {
    opacity: 1.0;
}

.fpcm.ui-blurring {
    backdrop-filter: blur(5px);
}

.fpcm.ui-invert-1 {
    filter: invert(1);
}

div.fileupload-progress.fpcm-ui-fade {
    opacity: 0;
    transition: opacity .15s linear;
}

div.fileupload-progress.in {
    opacity: 1;
    transition: opacity .15s linear;
}

.fpcm.ui-background-transition {
    transition: background-color 0.5s ease;
}

/* ------ Badge styles */
span.fpcm-ui-badge {
    z-index: 999;
}

/* ------ General classes and ids */

#fpcm-loader {
    display : none;
}

#fpcm-loader > div:first-child {
    z-index : 9999;
}

.fpcm.ui-font-small,
.fpcm-ui-font-small {
    font-size: 0.85em;
}

#fpcm-dialog-editor-shortlink iframe {
    height:50px;
    min-height:50px;
}

li.fpcm-ui-smileylist-preview {
    line-height: 30px;
}

img.fpcm-ui-smileylist-preview {
    max-width:30px;
    max-height:30px;
    margin-right: 0.4em;
}

.fpcm-editor-htmlsmiley {
    cursor: pointer;
}

.fpcm-ui-progressbar {
    height: 35px;
}

div.fpcm-filelist-thumb-box img {
    width: 100px !important;
    height: 100px !important;
}

#fpcm-filemanager-upload-drop {
    cursor: copy;
}

#fpcm-filemanager-upload-drop h4 {
    padding: 1.75em 0em;
}

#fpcm-filemanager-upload-drop h4:before {
    font-size: 5em;
    padding-bottom: 0.1em;
}

.pre-box {
    white-space: pre-line;
}

.fpcm-ui-box-sizing-none {
    box-sizing: initial !important;
}

ul.fpcm-ui-list-style-none {
    list-style-type: none;
    list-style-image: none;
}

div.fpcm.ui-message {
    z-index: 9999 !important;
}

#fpcm-ui-toolbar .form-select {
    display: inline-block;
    width: auto;
}

/* ------ Forms common */
.fpcm-ui-readonly {
    opacity: 0.35;
}

textarea.fpcm-ui-textarea-medium,
textarea.fpcm.ui-textarea-medium {
    min-height: 25vh;
}

textarea.fpcm.ui-textarea-noresize {
    resize: none;
}

.fpcm-ui-box-sizing-none {
    box-sizing: initial !important;
}

div.fileupload-progress.in {
    display: block;
}

.fpcm.ui-hidden,
.fpcm-ui-hidden {
    display: none !important;
}