/* ------ General colors */
body {
    background-image: url(bgmain.svg);
    background-color: #ebe7f2;
    background-size: cover;
    background-attachment: fixed;
}

body,
a, a:visited, a.fpcm-link
i, em,
span.fpcm-ui-button-shorthelp,
div.fpcm-ui-inline-loader,
.cm-s-fpcm.CodeMirror,
.fpcm-ui-color-grey-dark {
    color: #454545;
}

h1 {
    color: #00aded;
}

h3,
ins,
.text-primary {
    color: #0d6efd;
}

h3.fpcm.dashboard-container.headline span.fpcm-ui-icon {
    color: #000;
}

.bg-primary,
.btn-primary,
.form-check-input:checked,
span.fpcm-ui-badge {
    background-color: #0d6efd;
}

.border-primary {
    border-color: #0d6efd;
}

.fpcm.ui-background-white-50p,
.nav-tabs .nav-link,
.fpcm.ui-navigation .dropdown-menu {
    background: rgba(255,255,255,0.75);

}

div.fpcm.ui-files-card div.fpcm.ui-files-item:nth-child(odd),
div.fpcm.ui-files-list:nth-child(odd) div.fpcm.ui-files-item {
    background: rgba(254,254,254,0.7);
}

div.fpcm.ui-files-card div.fpcm.ui-files-item:nth-child(even),
div.fpcm.ui-files-list:nth-child(even) div.fpcm.ui-files-item {
    background: rgba(254,254,254,0.5);
}

.fpcm-dashboard-updates-checkerror {
    color: #666666;
}

.fpcm.ui-color-blue-light,
span.fpcm-ui-editor-metainfo,
span.fpcm-ui-button-shorthelp:hover,
span.fpcm-ui-booltext-yes {
    color:#3399ff;
}

.fpcm.ui-color-font-grey,
span.fpcm-ui-update-icons span.fpcm-ui-update-iconstatus.fpcm-ui-update-iconstatus-spinner {
    color: #aaaaaa;
}

del,
.fpcm-ui-important-text,
span.fpcm-ui-booltext-no {
    color: #cc0000;
}

span.fpcm-ui-update-icons span.fpcm-ui-update-iconstatus.fpcm-ui-update-iconstatus-0 {
    color: transparent;
}

.fpcm-ui-background-transition,
.fpcm.ui-background-transition {
    transition: background-color 0.35s ease;
}

legend,
#fpcm-loader > div.fpcm-loader-icon > span.fpcm.ui-label,
#fpcm-loader > div.fpcm-loader-icon > span.fpcm.ui-label * {
    color: #fff;
}

@keyframes fpcm-loader-glow {
  from { text-shadow: none; }
  to { text-shadow: 0 0 25px #0073ea; }
}

#fpcm-loader > div.fpcm-loader-icon > span:first-child {
    animation: fpcm-loader-glow 1.5s infinite alternate;
}

.nav-link {
    color: #362b36;
}

legend,
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active,
.dropdown-item.active,
.dropdown-item:active,
.dropdown-menu-dark .dropdown-item:active,
.dropdown-menu-dark .dropdown-item.active {
    background-color: #0073ea;
}

.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    color: #fff;
}

textarea,
.fpcm-ui-background-white-100 {
    background: #fefefe;
}

div.fpcm.ui-files-card div.fpcm.ui-files-item:hover,
div.fpcm.ui-files-card div.fpcm.ui-files-item:focus,
div.fpcm.ui-files-card div.fpcm.ui-files-item:active,
div.fpcm.ui-files-list div.fpcm.ui-files-item:hover,
div.fpcm.ui-files-list div.fpcm.ui-files-item:focus,
div.fpcm.ui-files-list div.fpcm.ui-files-item:active,
div.fpcm-ui-dataview div.row:hover {
    background: rgba(255, 239, 143, 0.5);
}

.fpcm-ui-input-text:invalid,
.fpcm-ui-input-text:required,
div.row.fpcm-ui-dataview-row.fpcm-ui-logs-error {
    border-left: 5px solid #cc0000;
}

div.row.fpcm-ui-dataview-row.fpcm-ui-logs-warning {
    border-left: 5px solid #FAD42E;
}

div.row.fpcm-ui-dataview-row.fpcm-ui-logs-deprecation-warning {
    border-left: 5px solid #c3c3c3;
}