/* ------ Bootstrap */
div.fpcm.ui-tabs-wrapper > ul.nav.nav-tabs li.nav-item {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

div.fpcm.ui-tabs-wrapper > ul.nav.nav-tabs li.nav-item:first-child {
    margin-left: 0;
}

div.fpcm.ui-tabs-wrapper > ul.nav.nav-tabs li.nav-item:last-child {
    margin-right: 0;
}

div.fpcm.offcanvas-large {
    min-width: 400px;
    width: 33%;
    max-width: 994px;
}

.vh-25 {
    height: 25vh;
}

.vh-50 {
    height: 50vh;
}

.vh-75 {
    height: 75vh;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

div.modal-body {
    background-color: var(--fpcm-modal-bg);
}

/* ------ TinyMCE */
td.fpcm-tinymce-emoticons img {
    padding: 0.5em !important;
}

div.mce-fpcm-ui-emoticons-panel {
    width: auto !important;
    height: auto !important;
}

/* ------ Selectize.js */
.selectize-input.items {
    border-radius: 5px !important;
    font-size: 1em;
}

.selectize-input {
    border: 1px solid #bbb !important;
    box-shadow: none !important;
}

.selectize-control.multi .selectize-input [data-value] {
    background-image: none !important;
}

/* php-diff */

table.diff-wrapper {
    width: 100%;
}

.diff-wrapper.diff tbody th.sign.del {
  background: #fbe1e1;
}

.diff-wrapper.diff tbody th.sign.ins {
  background: #e1fbe1;
}

.diff-wrapper.diff.diff-html.diff-combined .change.change-rep .rep {
  white-space: normal;
}

.diff-wrapper.diff.diff-html .change.change-eq .old,
.diff-wrapper.diff.diff-html .change.change-eq .new {
  background: #fff;
}

.diff-wrapper.diff.diff-html .change .old {
  background: #fbe1e1;
}

.diff-wrapper.diff.diff-html .change .new {
  background: var(--bs-success);
}

.diff-wrapper.diff.diff-html .change .rep {
  background: var(--bs-warning-bg-subtle);
}

.diff-wrapper.diff.diff-html .change .old.none,
.diff-wrapper.diff.diff-html .change .new.none,
.diff-wrapper.diff.diff-html .change .rep.none {
  background: transparent;
  cursor: not-allowed;
}

.diff-wrapper.diff.diff-html .change ins,
.diff-wrapper.diff.diff-html .change del {
  font-weight: bold;
  text-decoration: none;
}

.diff-wrapper.diff.diff-html .change ins {
  color: var(--bs-light);
  background: var(--bs-success);
}

.diff-wrapper.diff.diff-html .change del {
  background: #f09494;
}

.diff-wrapper.diff td,
.diff-wrapper.diff th {
  border-collapse: separate;
  border: none;
  padding: 0 0.35rem;
}

.fpcm.ui-image-editor-cropper .cropper-drag-box.cropper-crop.cropper-modal {
    opacity: .5 !important;
}

.toast-container.position-fixed {
    z-index : 1021;
}
    
.uppy-Informer p[role=alert] {
    color: var(--bs-danger);
}


[data-bs-theme=dark] {
    
    .ts-control, .ts-wrapper.single.input-active .ts-control, .ts-dropdown {
        background: var(--bs-body-bg);
    }
    
    .ts-wrapper.multi .ts-control > div {
        background: var(--bs-secondary-bg);
    }
    
    .ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
        border-color: var(--bs-border-color);
    }
    
    .ts-control, .ts-wrapper.single.input-active .ts-control, .ts-dropdown, div.fpcm.ui-help-content .btn-outline-dark {
        border: var(--bs-border-width) solid var(--bs-border-color);
    }
    
    .ts-control, .ts-control input, .ts-dropdown, div.fpcm.ui-help-content .btn-outline-dark,
    .ts-wrapper.multi .ts-control > div {
        color: var(--bs-body-color);
    }
 
    .uppy-DragDrop-container {
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
    }
    
    .uppy-DragDrop-browse {
        color: var(--bs-link-color);
    }
    
    .uppy-StatusBar::before,
    .uppy-StatusBar:not([aria-hidden="true"]).is-waiting,
    .uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
        background: none !important;
        border: none;
    }

}

.pswp__dynamic-caption--below
{
    font-size: var(--fpcm-font-size-small);
}