/* ------ Bootstrap */
div.tab-pane {
    min-height: 50vh;
}

div.fpcm.ui-tabs-wrapper > ul.nav.nav-tabs li.nav-item {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

div.fpcm.ui-tabs-wrapper > ul.nav.nav-tabs li.nav-item:first-child {
    margin-left: 0;
}

div.fpcm.ui-tabs-wrapper > ul.nav.nav-tabs li.nav-item:last-child {
    margin-right: 0;
}

div.fpcm.offcanvas-large {
    min-width: 400px;
    width: 33%;
    max-width: 994px;
}

.vh-75 {
    height: 75vh;
}

/* ------ TinyMCE */
td.fpcm-tinymce-emoticons img {
    padding: 0.5em !important;
}

div.mce-fpcm-ui-emoticons-panel {
    width: auto !important;
    height: auto !important;
}

/* ------ Selectize.js */
.selectize-input.items {
    border-radius: 5px !important;
    font-size: 1em;
}

.selectize-input {
    border: 1px solid #bbb !important;
    box-shadow: none !important;
}

/* php-diff */
.diff-wrapper.diff tbody th.sign.del {
  background: #fbe1e1;
}

.diff-wrapper.diff tbody th.sign.ins {
  background: #e1fbe1;
}

.diff-wrapper.diff.diff-html.diff-combined .change.change-rep .rep {
  white-space: normal;
}

.diff-wrapper.diff.diff-html .change.change-eq .old,
.diff-wrapper.diff.diff-html .change.change-eq .new {
  background: #fff;
}

.diff-wrapper.diff.diff-html .change .old {
  background: #fbe1e1;
}

.diff-wrapper.diff.diff-html .change .new {
  background: #e1fbe1;
}

.diff-wrapper.diff.diff-html .change .rep {
  background: #fef6d9;
}

.diff-wrapper.diff.diff-html .change .old.none,
.diff-wrapper.diff.diff-html .change .new.none,
.diff-wrapper.diff.diff-html .change .rep.none {
  background: transparent;
  cursor: not-allowed;
}

.diff-wrapper.diff.diff-html .change ins,
.diff-wrapper.diff.diff-html .change del {
  font-weight: bold;
  text-decoration: none;
}

.diff-wrapper.diff.diff-html .change ins {
  background: #94f094;
}

.diff-wrapper.diff.diff-html .change del {
  background: #f09494;
}

.diff-wrapper.diff td,
.diff-wrapper.diff th {
  border-collapse: separate;
  border: none;
  padding: 0 0.35rem;
}
