/* ------ jQuery UI */
h2.ui-accordion-header {
    box-shadow:none;
}

.ui-widget,
.ui-controlgroup .ui-controlgroup-label span {
    font-size: 1em;
}

div.ui-tabs {
    height: 100%;
    min-height: 66vh;
}

.fpcm-ui-permissions-container .ui-button {
    margin: 0.3em 0em;
}

.ui-spinner input,
.ui-spinner input:hover,
.ui-spinner input:focus,
.ui-spinner input:active {
    border: 0 !important;
    box-shadow: none !important;
    padding: 0;
}

.ui-spinner {
    padding: 0.2em;
    width: 195px;
}

.ui-datepicker {
    z-index: 1000 !important;
}

.ui-selectmenu-menu {
    max-height: 225px !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3px;
}

.ui-accordion.ui-state-disabled {
    opacity: 1;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-icon-blank {
    background-position: 16px 16px !important;
}

.ui-icon-check {
    background-position: -64px -144px !important;
}

.ui-controlgroup-label.ui-widget-content:last-child {
    border-right: 1px solid;
}

.ui-tabs .ui-tabs-nav {
    border-bottom: 1px solid #00aded;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.ui-tabs.ui-widget-content {
    color: inherit !important;
    background-color: rgba(255,255,255,0.65);
}

.ui-checkboxradio-icon,
.ui-checkboxradio-icon.ui-state-active,
.ui-checkboxradio-icon.ui-state-checked {
    background-color: #fff;
}

.ui-button.fpcm-ui-button-primary {
    background-image: url("../../lib/jquery-ui/images/ui-bg_highlight-soft_25_0073ea_1x100_dark.png");
}

.ui-checkboxradio-label:hover .ui-checkboxradio-icon {
    background-image: url("../../lib/jquery-ui/images/ui-icons_666666_256x240.png");
}

.ui-menu .ui-menu-item .ui-menu-item-wrapper.ui-state-active,
.ui-button.fpcm-ui-button-primary:hover,
.ui-button.fpcm-ui-button-primary:focus,
.ui-button.fpcm-ui-button-primary:active {
    background-image: url("../../lib/jquery-ui/images/ui-bg_highlight-soft_25_0073ea_1x100.png");
}

.ui-button.fpcm-ui-button-primary .ui-icon {
    background-image: url("../../lib/jquery-ui/images/ui-icons_ffffff_256x240.png") !important;
}

.ui-menu .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    color: #fff;
}

@media (max-width: 1024px) {
    
    div.ui-tabs {
        min-height: 0 !important;
    }

}

/* ------ TinyMCE */
.tox .tox-dialog__body-content div[role=presentation] {
    height: 100%;
    overflow: hidden;
}

td.fpcm-tinymce-emoticons img {
    padding: 0.5em !important;
}

div.mce-fpcm-ui-emoticons-panel {
    width: auto !important;
    height: auto !important;
}

/* ------ CodeMirror */
.CodeMirror {
    height: 50vh !important;
}

/* ------ Selectize.js */
.selectize-input.items {
    border-radius: 5px !important;
    font-size: 1em;
}

.selectize-input {
    border: 1px solid #bbb !important;
    box-shadow: none !important;
}